:root {
    --clr-bg: #fafafa;
    --clr-text: #0e0e0e;
    --clr-accent: #0e0e0e;
    --clr-muted: #0e0e0e;
    --clr-shadow: rgba(0, 0, 0, 0.89);
    --clr-highlight: #0e0e0e;
    --font-primary: "Montserrat";

    --font-heading: "VolterBlack";
    --logofont: "AvenirHeavy";
    /* volter  */
    /* avenir  */
    /* verdana */
    --gunmetal: #162630ff;
    --charcoal: #35414fff;
    --paynes-gray: #5b6576ff;
    --timberwolf: #d2d2cfff;
    --platinum: #e1e0dcff;
}

@font-face {
    font-family: "AvenirMedium";
    src: url("assets/fonts/AvenirLTProMedium.otf") format("opentype");
}

@font-face {
    font-family: "AvenirBook";
    src: url("assets/fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
    font-family: "AvenirHeavy";
    src: url("assets/fonts/AvenirLTProHeavy.otf") format("opentype");
}

@font-face {
    font-family: "VerdanaRegular";
    src: url("assets/fonts/verdana.ttf") format("truetype");
}

@font-face {
    font-family: "VerdanaBold";
    src: url("assets/fonts/verdanab.ttf") format("truetype");
}

@font-face {
    font-family: "VolterBlack";
    src: url("assets/fonts/Volter-Black.ttf") format("truetype");
}

@font-face {
    font-family: "VolterRegular";
    src: url("assets/fonts/Volter-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-bg);

    color: var(--clr-text);
    width: 90%;
    font-family: var(--font-primary);
    margin: auto;
}

header {
    padding: 1rem 4rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 200ms;

    #menuicon {
        display: none;
    }

    .logotext {
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;

            span {
                font-family: var(--logofont);
                font-size: 4rem;
                font-weight: 900;
                line-height: 4rem;
            }
        }
    }

    ul {
        display: none;
        list-style: none;
        gap: 20px;
        width: 28rem;
        align-items: center;
        justify-content: space-evenly;
        font-family: var(--font-heading);

        li {
            font-size: 1.5rem;

            a {
                text-decoration: none;
                color: var(--clr-text);
                font-weight: 600;
            }
        }

        .active {
            border-bottom: 2px solid var(--clr-accent);
            padding: 0px 5px;
        }
    }

    .getappbtn {
        text-decoration: none;
        padding: 0.5rem 1.5rem;
        font-size: 1.3rem;
        color: var(--clr-bg);
        background-color: var(--clr-highlight);
        display: flex;
        align-items: center;
        font-weight: 600;
        border-radius: 10px;
        border: none;
        margin-right: 2rem;
        font-family: var(--font-primary);
        line-height: 1rem;

        img {
            height: 1.5rem;
            margin-right: 0.4rem;
        }
    }

    .getappbtn:hover {
        background-color: var(--clr-highlight);
        color: var(--clr-bg);
        filter: drop-shadow(0px 0px 10px var(--clr-shadow));
    }
}

.scrolled {
    padding: 1rem 8rem;
    border-bottom: 2px solid var(--clr-accent);
    background-color: var(--clr-bg);
    z-index: 100;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);

    align-items: center;
}

.cursobody {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;

    #cropCanvas {
        background: radial-gradient(circle, red, #ffffff00);
        background-size: cover;
        background-position: center;
        pointer-events: none;
        transition: 70ms;
        --cursorsize: 2rem;
        position: fixed;
        z-index: 1000;

        border-radius: 100%;
        border: 2px solid #0e0e0e;
        width: var(--cursorsize);
        height: var(--cursorsize);
        top: calc(var(--cursorsize) / 2 * -1);
        left: calc(var(--cursorsize) / 2 * -1);
    }
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 80vh;

    h1 {
        margin-bottom: 2rem;
        font-size: 128px;
        font-family: var(--logofont);
        font-weight: 700;
        transform: translateY(-100px);
        opacity: 0;
    }

    p {
        font-size: 32px;
        font-weight: 400;
    }
}

#sphere {
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    background-color: #020202;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(circle at 100px 100px,
            #f8f8f8,
            rgba(160, 164, 177, 0.274));

    /* From https://css.glass */
    background: rgba(209, 209, 209, 0.336);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(142, 155, 180, 0.38);

    img {
        height: 6rem;
        transform: scale(0.2);

        margin-top: 2rem;
    }

    span {
        margin-top: 8rem;
        font-size: 1.5rem;
        letter-spacing: 0.5rem;
        padding-left: 1rem;
    }
}

.scroll {
    margin-bottom: 2rem;
    border-radius: 100%;
    border: 1px solid black;
    height: 5rem;
    width: 5rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    span {
        margin-top: 0.8rem;
    }

    img {
        height: 1.5rem;
    }
}

.screenshots {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 3rem 1rem;
        flex-direction: row;
        height: 90vh;

        img {
            height: 800px;
        }

        span {
            margin-top: 25rem;
            margin-left: 3rem;

            h1 {
                font-size: 60px;
                font-weight: 600;
            }

            p {
                margin-top: 3rem;
                font-size: 36px;
                font-weight: 400;
            }
        }
    }

    .ss1 {
        flex-direction: column;

        span {
            margin-top: 0;
            margin-left: 0;
            font-size: 65px;
            position: relative;
            letter-spacing: 8%;
            top: -215px;
            left: -187px;
            display: flex;

            strong:nth-child(3) {
                display: none;
            }

            p {
                margin-top: 0rem;
                font-size: 65px;
                font-weight: 400;
            }

            strong {
                margin-left: 1.2rem;
                font-size: 65px;
            }
        }
    }

    .ss3 {
        width: 100%;
        flex-direction: row-reverse;
        margin-left: 0;
        justify-content: space-around;

        span {
            margin-left: 0;

            h1 {
                margin-right: 9rem;
                text-align: center;
            }

            p {
                margin-left: 7rem;
                text-align: end;
            }
        }
    }

    .ss4 {
        width: 100%;
        flex-direction: row-reverse;
        margin-left: 0;
        justify-content: space-around;

        span {
            margin-left: 0;

            h1 {
                text-align: end;
            }

            p {
                margin-left: 7rem;
                text-align: end;
            }
        }
    }

    .ss5 {
        span {
            h1 {
                text-align: end;
            }
        }
    }
}

.footer {
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
        text-decoration: none;
        color: #020202;
    }

    a:visited {
        text-decoration: none;
        color: #020202;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px 50px;
        border-radius: 50px;
        border: 1px solid black;

        font-size: 30px;
        font-weight: 700;
        font-family: "inter";
        background-color: transparent;

        img {
            height: 35px;
            margin-right: 1rem;
        }
    }

    .contact {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        gap: 1rem;
    }
}

#preview {
    position: absolute;
    top: 0;
    left: 0;
}

#myCanvas {
    position: absolute;
    width: 100%;
    z-index: -1;
    overflow-y: hidden;
    display: none;

    img {
        width: 100%;
    }

    img:nth-child(1) {
        z-index: 9;
    }

    img:nth-child(2) {
        z-index: 10;
        transform: translateY(-20%);
    }

    img:nth-child(3) {
        z-index: 11;
        position: relative;
        bottom: 0;
        transform: translateY(-30%);
    }
}

@media screen and (max-width: 600px) {
    body {
        width: 95%;
        overflow-x: hidden;
    }

    .main {
        p {
            text-align: center;
        }
    }

    #sphere {
        height: 80vw;
        width: 80vw;
        align-items: center;

        img {
            height: 3rem;
            transform: scale(0.2);
        }

        span {
            margin-top: 3rem;
            font-size: 0.75rem;
            letter-spacing: 0.15rem;
            padding-left: 1rem;
        }
    }

    .screenshots {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: hidden;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 2rem 0rem;
            height: max-content;
            min-height: 90vh;

            img {
                height: auto;
                width: 80%;
            }

            span {
                margin-top: 00.5rem;

                h1 {
                    font-size: 30px;
                    font-weight: 600;
                }

                p {
                    margin-top: 1rem;
                    font-size: 22px;
                    font-weight: 400;
                }
            }
        }

        .ss1 {
            flex-direction: column;

            img {
                width: 95%;

                z-index: 9;
                margin: auto;
            }

            span {
                margin-top: 0;
                margin-left: 0;
                font-size: 10vw;
                display: flex;
                align-items: start;
                flex-direction: column;
                letter-spacing: 8%;
                width: auto;
                top: auto;
                left: auto;

                strong:nth-child(2) {
                    display: none;
                }

                strong:nth-child(3) {
                    display: inline;
                }

                p {
                    margin-top: 0rem;
                    font-size: 3rem;
                    font-weight: 400;
                }

                strong {
                    margin-left: 1.2rem;
                    font-size: 3rem;
                }
            }
        }

        .ss3 {
            width: 100%;
            flex-direction: column;
            margin-left: 0;
            justify-content: space-around;

            span {
                margin-left: 0;

                h1 {
                    margin-right: 7rem;
                    text-align: center;
                }

                p {
                    margin-left: 2rem;
                    text-align: end;
                }
            }
        }

        .ss4 {
            width: 100%;
            flex-direction: column;
            margin-left: 0;
            align-items: center;
            justify-content: space-around;

            span {
                margin-left: 0;

                h1 {
                    text-align: end;
                }

                p {
                    margin-left: 3rem;
                    text-align: end;
                }
            }
        }

        .ss5 {
            align-items: center;

            span {
                h1 {
                    text-align: end;
                }
            }
        }
    }

    .footer {
        a {
            margin: 0.5rem;

            button {
                font-size: 1.2rem;
                padding: 0.8rem 1.6rem;
                display: flex;
                align-items: center;
                justify-content: center;

                img:nth-child(1) {
                    height: 1.5rem;
                    margin-right: 1rem;
                }
            }
        }

        .contact {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            gap: 1rem;
        }
    }
}

/* if more than 600 */

@media only screen and (min-width: 600px) {
    body {
        background-color: rgb(255, 196, 0);
    }

    .main {
        & h1 {
            font-size: 111px;
        }

        & p {
            font-size: 16px;
        }
    }

    .scroll {
        & span {
            margin-top: 0.6rem;
        }

        & img {
            height: 1.2rem;
        }

        height: 4rem;
        width: 4rem;
    }

    #sphere {
        & img {
            height: 4rem;
            margin-top: 1rem;
        }

        & span {
            margin-top: 6rem;
            font-size: 1.2rem;
            letter-spacing: 0.3rem;
        }

        height: 500px;
        width: 500px;
    }

    .screenshots {
        div {
            img {
                width: auto;
                height: 600px;
            }


        }

        .ss1 {

            img {
                width: auto;
            }

        }
    }
}

/* if more than 768 */

@media only screen and (min-width: 768px) {
    body {
        background-color: rgb(43, 255, 0);
    }
}

/* if more than 992 */
@media only screen and (min-width: 992px) {
    body {
        background-color: rgb(0, 255, 234);
    }
}

/* if more than 992 */

@media only screen and (min-width: 1200px) {
    body {
        background-color: rgb(0, 4, 255);
    }


}