.about-container {
    width: 75%;
    margin: 1rem auto 4rem;
    display: flex;
    flex-direction: column;


    .herosec {
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            font-size: 3rem;
            color: #2D5D5D;
        }

        p {
            margin-top: 01rem;
            width: 80%;
            font-size: 1.5rem;

            span {
                color: #2D5D5D;
            }
        }
    }
}

.secondsec {

    margin: 1rem auto;

    .sectitle {
        font-size: 2rem;
        color: #484848;
    }

    .sectionpara {
        font-size: 1.5rem;
        color: #484848;
        margin: 1rem 0.5rem;

    }
}

.founders-section {

    margin: 1rem 0rem;

    .founders-title {
        font-size: 2rem;
        color: #484848;

    }

    .founders-grid {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .founder-card {
            background: #fff;
            padding: 1rem;
            border-radius: 3rem;
 box-shadow: 0 10px 20px rgba(45, 93, 93, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            display: flex;
            flex-direction: column;
            align-items: center;

            .founder-name {
                font-family: "Josefin Sans", sans-serif;
                font-size: 1.4rem;
                color: #2D5D5D;
                font-weight: 700;
                margin: 5px;
            }

            .founder-role {
                font-size: 0.85rem;
                color: #99C1C1;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                font-weight: bold;
            }
            .founder-img{
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border-radius: 2rem;
                margin: 0.5rem;
          img{
            height: 15rem;
          }
            }
        }

    }
}
.team-section{
    font-family: 'Avenir Lite italic';

    margin: 2rem auto;
    text-align: center;
    padding: 1rem 2rem;
    width: max-content;
    border-radius: 3rem;
      background: #fff;
            
            border-radius: 3rem;
 box-shadow: 0 4px 4px #00000042;
}