.mainsec{
    height: 60vh;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.26);
    .mainttext{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
color: #484848;
        .text1{
            font-size: 3rem;
            color: #2D5D5D;
        }
        .para{
            margin-top: 0.5rem;
            width: 70%;
            font-size: 1.5rem;
            span{
                color: #2D5D5D;
            }
        }
    }
    .clickables{
        margin-top: 3rem;

        display: flex;
        align-items: center;
       
        flex-direction: column;
        .actionbtn{
            border: none;
             background-color: #faffff;
                font-family: 'Avenir Lite';
                display: flex;
                justify-content: space-around;
                color: #2D5D5D;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
                border-radius: 11rem;
                padding: 1rem 3rem;
                font-size: 1.5rem;
        }
        .mainlinks{
            font-size: 1.4rem;
            margin-top: 1rem;
            *{
                margin: 1rem;
            }
        }
    }
}
.secondsec{
    width: 70%;
    margin: 3rem auto;
    .sectitle{
        font-size: 2rem;
        color: #484848;
    }
    .sectionpara{
        font-size: 1.5rem;
        color: #484848;
        margin: 1rem 0.5rem;

    }
    .steps{
        margin: 1rem 0.5rem;
        .step{
        display: flex;
        flex-direction: column;
            margin-bottom: 1rem;
            .steptitle{
                color: #484848;

                font-size: 1.5rem;
                margin-top: 1rem;
            }
            .stepbody{
                font-size: 1.5rem;
                color: #484848;

                margin-top: 0.5rem;
                margin-left: 2rem;
                span{
                     color: #2D5D5D;
                }

            }
            .steplink{
                font-size: 1.5rem;

                                margin-top: 0.5rem;
                                   margin-left: 2rem;

            }
        }
    }
}
.feedbackform{
    height: 100vh;
}