.mainsec {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.26); */

    .mainttext {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #484848;

        .text1 {
            font-size: 3rem;
            color: #2D5D5D;
        }

        .para {
            margin-top: 0.5rem;
            width: 70%;
            font-size: 1.5rem;

            span {
                color: #2D5D5D;
            }
        }
    }

    .clickables {
        margin-top: 3rem;

        display: flex;
        align-items: center;

        flex-direction: column;

        .actionbtn {
            border: none;
            background-color: #faffff;
            font-family: 'Avenir Lite';
            display: flex;
            justify-content: space-around;
            color: #2D5D5D;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
            border-radius: 11rem;
            padding: 1rem 3rem;
            font-size: 1.5rem;
        }

        .mainlinks {
            font-size: 1.4rem;
            margin-top: 1rem;

            * {
                margin: 1rem;
            }
        }
    }
}

.secondsec {
    width: 70%;
    margin: 1rem auto;

    .sectitle {
        font-size: 2rem;
        color: #484848;
    }

    .sectionpara {
        font-size: 1.5rem;
        color: #484848;
        margin: 0rem 0.5rem;

    }

    .steps {
        margin: 0rem 0.5rem;
        display: none;
        .step {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            .steptitle {
                color: #484848;

                font-size: 1.5rem;
                margin-top: 1rem;
                        display: flex;
                        

            }

            .stepbody {
                font-size: 1.5rem;
                color: #484848;

                margin-top: 01rem;
                margin-left: 5.25rem;

                span {
                    color: #2D5D5D;
                }

            }

            .steplink {
                font-size: 1.5rem;
 margin-left: 0.5rem;

            }
        }
    }
}

.feedbackform {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formembed {
        height: 100%;
        width: 100%;
    }
}

        .ctabtns {
            margin-top: 3rem;
            display: flex;

            .ctabtn {
                background-color: #faffff;
                font-family: 'Avenir Lite';
                margin: 2px 2rem 0 0.1rem;
                display: flex;
                justify-content: space-around;
                color: #2D5D5D;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
                border-radius: 11rem;
                width: 13rem;
                padding: 0.3rem 1rem;

                /* color: black;
                border: #484848 1px solid;
                border-radius: 0.4rem;
                width: 11rem;
                padding: 0.25rem; */
                .ctalogo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 2.4rem;
                }

                .ctatext {

                    display: flex;
                    flex-direction: column;

                    span:nth-child(1) {
                        font-size: 0.8rem;
                    }

                    span:nth-child(2) {
                        font-size: 0.9rem;
                    }
                }
            }
        }