* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Avenir Lite';
    src: url('fonts/AvenirLTProLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Lite italic';
    src: url('fonts/AvenirLTProLightOblique.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a {
    text-decoration: none;
    color: #2D5D5D;
}

header {
    z-index: 100;
    position: fixed;
    height: 3.5rem;
    width: 100%;
    display: flex;
    padding: 2px 20%;
    background-color: #faffff;
    align-items: center;
    justify-content: space-between;
    font-family: 'Avenir Lite';

    box-shadow: #484848 0px 2px 10px;

    .logo {
        font-size: 2.3rem;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 0;
        color: #2D5D5D;
    }

    .new {
        font-size: 1.2rem;
        padding-top: 0.3rem;
        color: #2D5D5D;
    }

    .navi {
        padding-top: 0.3rem;

        ul {
            list-style: none;

            li {
                a {
                    color: #484848;
                }
            }
        }

        font-size: 0.8rem;

    }

    .cta {
        padding-top: 0.3rem;

        font-size: 0.8rem;
        color: #2D5D5D;
    }
}

.headercover {
    height: 3.5rem;
}

body {

    background-color: #fefefe;
}

.hero {
    height: calc(100vh - 3.5rem);
    display: flex;
    padding: 0rem 18%;
    align-items: center;
    justify-content: space-between;

    .pageimg1 {
        position: absolute;
        top: 3.5rem;
        z-index: -1;
        right: 0;
        height: calc(100vh - 3.5rem);
    }

    .heroleft {
        width: 55%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        color: #484848;

        .herotext {

            .herotext1 {
                font-size: 1.2rem;
                font-family: 'Avenir Lite italic';


            }

            .herotext2 {
                margin-top: 0.5rem;
                letter-spacing: 0.3rem;
                font-size: 3rem;
                font-family: 'Avenir Lite';

            }

            .herotext3 {
                margin-top: 1rem;
                font-size: 1.5rem;
                font-family: 'Avenir Lite';
            }
        }

        .ctabtns {
            margin-top: 2rem;
            display: flex;

            .ctabtn {
                color: black;
                font-family: 'Avenir Lite';
                margin: 2px 0.8rem 0 0.1rem;
                border: #484848 1px solid;
                border-radius: 0.4rem;
                display: flex;
                width: 11rem;
                padding: 0.25rem;
                justify-content: space-around;

                .ctalogo {
                    height: 2.5rem;
                }

                .ctatext {

                    display: flex;
                    flex-direction: column;

                    span:nth-child(1) {
                        font-size: 0.8rem;
                    }

                    span:nth-child(2) {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    .heroright{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: end;
        img{
            height: 80vh;
        
          backdrop-filter:  drop-shadow( #2A2A2A 20px 20px 25px)
        }
    }

}